@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Foosball</title>
    <style>
        table {
            margin-left: auto;
            margin-right: auto;
            font-size: 120%
        }

        .alnright {
            text-align: right;
        }

        .score {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class='container'>
        <h3>
            Source Code: <a href="https://github.com/AidasVaiksnoras/Foosball2text">github.com/AidasVaiksnoras/Foosball2text</a>
        </h3>
        <h3>
            Contributors
        </h3>
        <h5>
            <ul>
                <li>Aidas Vaikšnoras</li>                
                <li>Karolis Statkevičius</li>
                <li>Mantas Naujokas</li>
                <li>Tomas Ukrinas</li>

            </ul>
        </h5>
        

    </div>
</body>
</html>