################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Foosball2text/vcruntime140.dll
/Foosball2text/opencv_xphoto320.dll
/Foosball2text/opencv_xobjdetect320.dll
/Foosball2text/opencv_ximgproc320.dll
/Foosball2text/opencv_xfeatures2d320.dll
/Foosball2text/opencv_viz320.dll
/Foosball2text/opencv_videostab320.dll
/Foosball2text/opencv_videoio320.dll
/Foosball2text/opencv_video320.dll
/Foosball2text/opencv_tracking320.dll
/Foosball2text/opencv_text320.dll
/Foosball2text/opencv_surface_matching320.dll
/Foosball2text/opencv_superres320.dll
/Foosball2text/opencv_structured_light320.dll
/Foosball2text/opencv_stitching320.dll
/Foosball2text/opencv_stereo320.dll
/Foosball2text/opencv_shape320.dll
/Foosball2text/opencv_rgbd320.dll
/Foosball2text/opencv_plot320.dll
/Foosball2text/opencv_photo320.dll
/Foosball2text/opencv_phase_unwrapping320.dll
/Foosball2text/opencv_optflow320.dll
/Foosball2text/opencv_objdetect320.dll
/Foosball2text/opencv_ml320.dll
/Foosball2text/opencv_line_descriptor320.dll
/Foosball2text/opencv_imgproc320.dll
/Foosball2text/opencv_imgcodecs320.dll
/Foosball2text/opencv_highgui320.dll
/Foosball2text/opencv_fuzzy320.dll
/Foosball2text/opencv_flann320.dll
/Foosball2text/opencv_ffmpeg320_64.dll
/Foosball2text/opencv_features2d320.dll
/Foosball2text/opencv_face320.dll
/Foosball2text/opencv_dpm320.dll
/Foosball2text/opencv_dnn320.dll
/Foosball2text/opencv_datasets320.dll
/Foosball2text/opencv_cudev320.dll
/Foosball2text/opencv_cudawarping320.dll
/Foosball2text/opencv_cudastereo320.dll
/Foosball2text/opencv_cudaoptflow320.dll
/Foosball2text/opencv_cudaobjdetect320.dll
/Foosball2text/opencv_cudalegacy320.dll
/Foosball2text/opencv_cudaimgproc320.dll
/Foosball2text/opencv_cudafilters320.dll
/Foosball2text/opencv_cudafeatures2d320.dll
/Foosball2text/opencv_cudacodec320.dll
/Foosball2text/opencv_cudabgsegm320.dll
/Foosball2text/opencv_cudaarithm320.dll
/Foosball2text/opencv_core320.dll
/Foosball2text/opencv_ccalib320.dll
/Foosball2text/opencv_calib3d320.dll
/Foosball2text/opencv_bioinspired320.dll
/Foosball2text/opencv_bgsegm320.dll
/Foosball2text/opencv_aruco320.dll
/Foosball2text/npps64_80.dll
/Foosball2text/nppi64_80.dll
/Foosball2text/nppc64_80.dll
/Foosball2text/msvcp140.dll
/Foosball2text/cvextern.dll
/Foosball2text/cufft64_80.dll
/Foosball2text/cudart64_80.dll
/Foosball2text/cublas64_80.dll
/Foosball2text/concrt140.dll
