<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQL_operations.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=universityprojects.database.windows.net;Initial Catalog=foosball2text;Persist Security Info=True;User ID=warhatch;Password=Awalgato0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>